.courseInfo {
    width: 250px;
    height: 230px;
    display: inline-block;
    background: #F3F3F3;
    margin: 20px 0;
    margin-right: 30px;
    .courseFace {
        width: 250px;
        height: 170px;
        cursor: pointer;
    }
    .clearfix {
        padding: 5px 7px;
        .courseName {
            width: 200px;
            font-size: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }
        .userName {
            font-size: 10px;
            display: inline-block;
            width: 170px;
            padding: 1.5px;
        }
        .delete {
            background: white;
            display: inline-block;
            margin-left: 14px;
            padding: 1px;
            border: 0.5px solid #00A0E9;
            color: #00A0E9;
            cursor: pointer;
            visibility: hidden;
        }
    }
    .clearfix:hover {
        .delete {
            visibility: visible;
        }
    }
}