.wrapper {
    width: 100%;
    min-width: 1200px;
    min-height: 450px;
    height: 80%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 80px;
    background: #fff;
    padding: 24px;
    float: left;
}

.name {
    margin: 10px 0 10px 0px;
    color: #000;
    font-size: x-large;
    display: flex;
}

.left {
    float: left;
}

.right {
    position: relative;
    margin-left: 60%;
    width: 150px;
}

.tribune_right {
    position: relative;
    margin-right:  60%;
    width: 300px;
}
.link {
    width: 100%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
}

.link_left {
    width: 50%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
}

.courseInfo {
    width: 250px;
    height: 250px;
    display: inline-block;
    background: red;
    margin: 20px 0;
    .courseFace {
        width: 250px;
        height: 170px;
    }

.row {
    display: inline-block;
    background:#F8FAFF;
} 
.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }
}

