.wrapper {
    width: 100%;
    min-width: 1200px;
    min-height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    background: #fff;
    padding: 24px;
    float: left;
}

.name {
    margin: 10px 0 10px 0px;
    color: #000;
    font-size: x-large;
    line-height: 56px;
    display: flex;
    .left {
      float: left;
      width: 300px;
  }
    .row {
        display: inline-block;
        padding-right: 0px;
    } 
}



.right {
    position: relative;
    margin: auto 10px;
    margin-left: 55%;
    width: 180px;
}

.right2 {
  position: relative;
  margin: auto 20px;
  margin-left: 0px;
  width: 150px;
}

.link {
  width: 100%;
  height: 1px;
  border-top: solid #ACC0D8 1px;
}

// 后面单独放一个页面
.tribune_right {
    position: relative;
    margin-right:  60%;
    width: 300px;
}

.link_left {
    width: 50%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }


